Source: yet-another-sort
Section: utils
Priority: optional
Maintainer: Nicolas Bock <nicolasbock@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 12),
 dh-golang,
 golang-any,
 golang-github-juju-gnuflag-dev,
 golang-github-rs-zerolog-dev
Standards-Version: 4.6.2
Homepage: https://github.com/nicolasbock/yet-another-sort

Package: yet-another-sort
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: A sort util that mimics the functionality of GNU sort
  Write sorted concatenation of all file(s) to standard output. This tool leans
  heavily on GNU `sort` with some additional features.
